<div class="container"><h2>Simple Blog Application</h2>
<br>
<hr>
<p>This is a simple Blog Application with functionalies like CREATE, READ, UPDATE, DELETE</p>
<h3>List of Technologies used in Creating this Blog Application</h3>
<div style="text-align:center">
<div class="list-group">
  <a class="list-group-item">HTML</a>
  <a class="list-group-item">CSS</a>
  <a class="list-group-item">JAVASCRIPT</a>
  <a class="list-group-item">JQUERY</a>
  <a class="list-group-item">BOOTSTRAP</a>
  <a class="list-group-item">ANGULAR</a>
  <a class="list-group-item">REST API</a>
</div>
</div>
</div>