<div class="container" *ngIf="currentBlog">
  <h3 class="display-3" style="text-align:center">EDIT THIS BLOG</h3>
  <div class="row" style="text-align:left">
    <div class="col-md-12">
      <form #createBlogForm="ngForm" (ngSubmit)="editThisBlog()">

        <div class="form-group">
          <label>Edit Blog Title</label>
          <input type="text" name="blogTitle" [(ngModel)]="currentBlog.title" #title="ngModel" class="form-control"
            placeholder="Enter blog Title" required>
          <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            Blog Title is required
          </div>
        </div>

        <div class="form-group">
          <label>Edit Description</label>
          <input type="text" name="blogDescription" [(ngModel)]="currentBlog.description" #description="ngModel"
            class="form-control" placeholder="Enter Description" required>
        </div>

        <div class="form-group">
          <label>Edit Content</label>
          <textarea name="blogBodyHtml" [(ngModel)]="currentBlog.bodyHtml" #bodyHtml="ngModel" class="form-control"
            rows="3" required></textarea>
        </div>


        <div class="form-group">
          <label>Change Category</label>
          <select [(ngModel)]="currentBlog.category" #category="ngModel" name="blogCategory" class="form-control"
            id="category" required>
            <option *ngFor="let category of possibleCategories" [value]="category">{{category}}</option>
          </select>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <a class="btn btn-warning" (click)="goBackToPreviousPage()">Go Back</a>
            </div>
            <button type="submit" class="btn btn-info" [disabled]="!createBlogForm.form.valid">Edit the blog</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>